*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.darkMode {
  background-color: #222;
  transition: .2s;
}

.lightMode {
  background-color: #ddf;
  transition: .2s;
}

.mainScreen {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  transition: .2s;
}