.setTime {
  display: flex;
  gap: .5em;
  transition: .1s linear;
}

.hidden {
  opacity: 0;
}

input {
  height: 3em;
  width: 8em;
  text-align: center;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  background-color: #a773fa;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
  top: 0;
  right: 0;
  bottom: 0;
  height: 3em;
  border: 5px solid #bbb;
  opacity: .4;
  cursor: pointer;
}