.setTime {
  display: flex;
  gap: .5em;
  transition: .1s linear;
}

.setTime > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  width: 8em;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  background-color: #a773fa;
}

.setTime > div > p {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.setTime > div > button {
  flex: 2;
  height: 100%;
  background-color: transparent;
  font-size: 20px;
  color: white;
  border: none;
  transition: .1s linear;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.setTime > div > button:hover {
  backdrop-filter: brightness(.8);
  -webkit-backdrop-filter: brightness(.8);
  cursor: pointer;
}

.decrement {
  border-radius: 10px 0 0 10px;
}

.increment {
  border-radius: 0 10px 10px 0;
}