.startBtn {
  height: 3em;
  width: 8em;
  border: none;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  background-color: #a773fa;
  transition: .1s linear;
}

.stopBtn {
  border: #a773fa 3px solid;
  height: 3em;
  width: 8em;
  color: #a773fa;
  font-size: 20px;
  border-radius: 10px;
  transition: .1s linear;
  background-color: transparent;
}

.startBtn:hover,
.stopBtn:hover {
  cursor: pointer;
  filter: brightness(.9);
}